[submodule "external/cmd_line_parser"]
	path = external/cmd_line_parser
	url = https://github.com/jermp/cmd_line_parser.git
[submodule "external/mm_file"]
	path = external/mm_file
	url = https://github.com/jermp/mm_file.git
[submodule "external/bits"]
	path = external/bits
	url = https://github.com/jermp/bits.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
